@import "globals";
@import "variables";

.contact {
    padding: 50px 100px 100px 100px;
    position: relative;
    
    h1 {
        margin-bottom: 30px;
    }

    @include mobile {
        padding: 50px 20px 50px 20px;
    }
    @include tablet {
        padding: 50px 50px 50px 50px;
    }
}

.contact::before {
    content:"";
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: $color-Yellow;
    top: 40px;
    left: 90px;
    z-index:-10;
}

.contact .subtitle {
    display:flex;

    @include mobile {
        margin-bottom: 20px;
    }
}

.contact .subtitle svg {
    margin-top: 40px;
    margin-left: 30px;

    @include mobile {
        display: none;
    }
}

.contact .container {
    display: flex;
    justify-content: space-between;
    width: 90vw;

    .contact-pict:hover {
        transform: rotate(3deg);
    }

    @include mobile {
        flex-direction: column;
        align-items: center;

        .contact-pict {
            width: 100%;
        }
    }

    @include tablet {
        align-items: center;
        .contact-pict {
            width: 40%;
            height: 40%;
        }
    }
}

.contact .contact-wrap {
    margin-top: 15px;
    margin-right: 90px;
    width:50%;

    p, small {
        display:none;
    }

    @include mobile {
        width: 100%;
        margin-right: 0;
    }
    @include tablet {
        width: 50%;
        margin-right: 10px;
    }
}

.form-control {
    width: 100%;
    height: 50px;
    border: 2px solid $color-Dark;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 15px;

    @include tablet {
        height: 25px;
    }

}

.form-text {
    width: 100%;
    height: 25vh;
    border: 2px solid $color-Dark;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 15px;

    @include tablet {
        height: 15vh;
    }

}

.form-group button {
    width: 100%;
    background-color: $color-Yellow;
    border: 2px solid $color-Dark;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;

    font-size: 20px;
    color: $color-Dark;
}
