@import "globals";
@import "variables";
@import "header";








































/* #hand-line {
    stroke-dasharray: 357.33734130859375;
    stroke-dashoffset: 357.33734130859375;
    animation: sign 1.5s infinite ease;
    animation-fill-mode: forwards ;
}

@keyframes sign {
    to {
        stroke-dashoffset: 0;
    }
}
*/